@import "tailwindcss";


@font-face {
  font-family: 'LeagueSpartan';
  src: url('./assets/fonts/LeagueSpartan-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

.font-league {
  font-family: 'LeagueSpartan', sans-serif;
}

.font-info {
  font-family: 'Roboto', sans-serif;
}

@layer utilities{
  .no-scrollbar::-webkit-scrollbar{
    display: none;
  }
  .no-scrollbar{
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@layer base{
  * {
    @apply select-none outline-none;
  }
}